/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
/*
  Or add your statements here:
 */
body{
  font-family: 'Montserrat', sans-serif;
}

h1
{
	color: #173C59; 
}

h2
{
	color: #989A9B;
}
.home
{
	background-image: url("../home_page.jpg");
	width: 1366px;
	height: 768px;
}

.banner
{
	text-align: center;
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	color: white;
	background-color: #1F5080;
	margin-top: -22px;
}

.banner h1
{
	padding-top: 50px;
	color: white !important;
}

.speed h1,h2
{
	text-align: center;
	line-height: 1.0em;
}

.performance
{
	background-color: #F6F8FC;
	padding-top: 30px;
	padding-bottom: 30px;
}
.performance h2
{
	color: #989A9B !important;
}
.performance h1,h2
{
	text-align: center;
	line-height: 1.0em;
}

.optimize
{
	background-image: url("../op.jpg");
	padding-top: 10px;
	text-align: center;
	margin-top: -22px;
	width: 100%;
	height: auto;
}

.optimize h1,h2
{
	color: white !important;
}

.integration
{
	text-align: center;
	background-image: url("../integration_back.jpg");
	margin-top: -22px;
	padding-top: 50px;
	font-weight: 600;
	width: 100%;
	height:auto;
}

.integration h2
{
	color: #989A9B !important;
	line-height: 1.0em;
}

.row strong
{
	color: white;
}