{{ partial "header" . }}
<div class="home">
</div>
<div class="banner">
	<h1>Did You Know Every 100ms Delay Reduces Conversion Rates by 07%</h1>
</div>
<div class="speed">
	<h1>Test Your Website Speed With Us</h1>
	<h2>Enter the URL of your website below and to see how we can help improve it.</h2>
</div>
<div class="performance">
	<h1>Your Website's Performance</h1>
	<h2>Below is your website's current performance versus a Dexecure optimized version.</h2>
</div>
<div class="optimize">
	<h1>A Complete Website's Optimization Tool</h1>
	<h2>We optimise the content (HTML, images, CSS, JS, fonts) of the website based on the following factors:</h2>
</div>
<div class="integration">
	<h1>Easy Integration</h1>
	<h2>We’ve worked hard to make sure you don't spend more than a few minutes on the<br>
	implementation process. You can choose between a simple plugin, a line of JavaScript<br>code or in case of a larger and complex website a custom-made solution.</h2>
</div>
{{ partial "footer" . }}
