{{ partial "header" . }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="home">
</div>
<div class="banner">
	<h1>Did You Know Every 100ms Delay Reduces Conversion Rates by 07%</h1>
</div>
<div class="speed">
	<h1>Test Your Website Speed With Us</h1>
	<h2>Enter the URL of your website below and to see how we can help improve it.</h2>
</div>
<div class="performance">
	<h1>Your Website's Performance</h1>
	<h2>Below is your website's current performance versus a Dexecure optimized version.</h2>
</div>
<div class="optimize">
	<h1>A Complete Website's Optimization Tool</h1>
	<h2>We optimise the content (HTML, images, CSS, JS, fonts) of the website based on the following factors:</h2>
	<div class="row">
		<blockquote>
			<div class="col-sm-4">
				<h1>BROWSER</h1>
				<strong>Different browsers handle content<br>
					differently. Dexecure speeds up your<br>
					website by leveraging the latest features<br>
				in every browser.</strong>
			</div>
			<div class="col-sm-4">
				<h1>DEVICE</h1>
				<strong>Dexecure automatically generates images<br>
					and CSS for different devices. You never<br>
					have to think about saving images in a<br>
					number of different sizes ever again.
				</strong>
			</div>
			<div class="col-sm-4">
				<h1>LOCATION</h1>
				<strong>Our multicloud service stands on top of<br>
					the best Content Delivery Network (CDN)<br>
				in the market.</strong>
			</div>
		</blockquote>
	</div>
</div>
<div class="integration">
	<blockquote>
		<h1>Easy Integration</h1>
		<h2>We’ve worked hard to make sure you don't spend more than a few minutes on the<br>
			implementation process. You can choose between a simple plugin, a line of JavaScript<br>code or in case of a larger and complex website a custom-made solution.</h2>
		</blockquote>
	</div>

	{{ partial "footer" . }}
