{{ partial "header" . }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="home">
</div>
<div class="banner">
	<h1>Did You Know Every 100ms Delay Reduces Conversion Rates by 07%</h1>
</div>
<div class="speed">
	<h1>Test Your Website Speed With Us</h1>
	<h2>Enter the URL of your website below and to see how we can help improve it.</h2>

</div>
<div class="performance">
	<h1>Your Website's Performance</h1>
	<h2>Below is your website's current performance versus a Dexecure optimized version.</h2>
</div>
<div class="optimize">
	<h1>A Complete Website's Optimization Tool</h1>
	<h2>We optimise the content (HTML, images, CSS, JS, fonts) of the website based on the following factors:</h2>
	<div class="row">
		<div class="col-sm-4">
			<img src="../browser3.png">
			<h1>BROWSER</h1>
			<strong>Different browsers handle content<br>
				differently. Dexecure speeds up your<br>
				website by leveraging the latest features<br>
			in every browser.</strong>
		</div>
		<div class="col-sm-4">
			<img src="../device.png">
			<h1>DEVICE</h1>
			<strong>Dexecure automatically generates images<br>
				and CSS for different devices. You never<br>
				have to think about saving images in a<br>
				number of different sizes ever again.
			</strong>
		</div>
		<div class="col-sm-4">
			<img src="../location.png">
			<h1>LOCATION</h1>
			<strong>Our multicloud service stands on top of<br>
				the best Content Delivery Network (CDN)<br>
			in the market.</strong>
		</div>
	</div>
</div>
<div class="teamie">
	<div class="row">
		<div class="col-sm-6" id="desc">
			<h1>“Easy and Seamless”</h1>
			<h3>Ashwin Singh, Co-founder, Teamie</h3>
			<img src="../team.png" id="logo" />
			<h4>Dexecure has helped us greatly improve the performance<br>
				of our website. The solution fits nicely into our architecture<br>
				and optimising new web pages is very easy and seamless.<br>
				Not just the solution is great, but also the support from its<br>
			team is fantastic.</h4>
		</div>
		<div class="col-sm-6">
			<!-- <img src="../lappy.png" id="laptop"/ style="padding-right: 200px;"> -->
		</div>
	</div>
</div>
<div class="integration">
	<h1>Easy Integration</h1>
	<h2>We’ve worked hard to make sure you don't spend more than a few minutes on the<br>
		implementation process. You can choose between a simple plugin, a line of JavaScript<br>code or in case of a larger and complex website a custom-made solution.</h2>
		<div class="row">
			<div class="col-sm-4">
				<img src="../js.png">
				<h3  style="padding-top: 30px;">JAVASCRIPT CODE</h3>
				<span>If you maintain your own servers and<br>
					website, we offer a simple line of<br>
					Javascript code to integrate into your<br>
				website.</span>
			</div>
			<div class="col-sm-4">
				<img src="../plugin.png" style="padding-top: 145px;">
				<h3>PLUG IN</h3>
				<bold>Dexecure has developed plugins for<br>
					Wordpress, Shopify and Magento. Simply<br>
					install the plugin on your platform<br>
				</bold>
				<img src="../wp5.png"/><img src="../shopify.png" / style="padding-right: 20px;"><img src="../magneto.png" />
			</div>
			<div class="col-sm-4" style="margin-top: 60px">
				<img src="../tailor.png">
				<h3>TAILOR MADE SOLUTIONS</h3>
				<bold>At Dexecure, we understand the<br>
					complexity of multilevel, multilanguage<br>
					and multiproduct websites. We provide<br>
					tailormade solutions that integrate into<br>
				our clients’ systems.</bold>
			</div>
		</div>
	</div>
	{{ partial "footer" . }}
